dataset
*logs*
*wandb*
*output*
*svt*
*basicencoder*
*checkpoints*
*sbatch*
*.sbatch*
*runs*
*.zip
*.torrent

# BlenderProc
BlenderProc/examples/advanced/optical_flow/output
BlenderProc/__pycache__
BlenderProc/dist/
BlenderProc/*/__pycache__
BlenderProc/blenderproc.egg-info/
BlenderProc/build/
BlenderProc/blender
BlenderProc/.idea/
BlenderProc/.vscode/
BlenderProc/output/
BlenderProc/debug/
BlenderProc/resources/AMASS
BlenderProc/resources/cctextures*
BlenderProc/resources/scenenet/*zip
BlenderProc/resources/scenenet/SceneNetData
BlenderProc/resources/scenenet/texture*
BlenderProc/resources/blenderkit
BlenderProc/resources/decomposition_cache
BlenderProc/resources/IKEA
BlenderProc/resources/haven
BlenderProc/resources/pix3d
BlenderProc/resources/front_3D/3D_front_mapping_generated.csv
BlenderProc/blenderproc/external/vhacd
BlenderProc/*.blend1
BlenderProc.vscode
BlenderProc/*.pyc
BlenderProc/*.swp
BlenderProc/docs/build/
BlenderProc/!docs/source/index.rst
BlenderProc/docs/source/*rst
BlenderProc/docs/source/images/
BlenderProc/docs/source/examples/
BlenderProc/docs/source/*md
BlenderProc/blenderproc_resources/


# raft
raft/*.pyc
raft/*.egg-info
raft/dist
raft/datasets
raft/pytorch_env
raft/models
raft/build
raft/correlation.egg-info

raft/methods/combined_data
raft/methods/finetune
raft/methods/finetune_flow
raft/methods/no-finetune
raft/models.zip

# FlowFormer-Official

FlowFormer-Official/*.pyc
FlowFormer-Official/*.egg-info
FlowFormer-Official/distFlowFormer-Official/
FlowFormer-Official/datasets
FlowFormer-Official/pytorch_env
FlowFormer-Official/models
FlowFormer-Official/build
FlowFormer-Official/correlation.egg-info
FlowFormer-Official/logs
FlowFormer-Official/checkpoints*
FlowFormer-Official/FlyingThings3D_release


# FlowFormer-Official_2

FlowFormer-Official_2/*.pyc
FlowFormer-Official_2/*.egg-info
FlowFormer-Official_2/distFlowFormer-Official_2/
FlowFormer-Official_2/datasets
FlowFormer-Official_2/pytorch_env
FlowFormer-Official_2/models
FlowFormer-Official_2/build
FlowFormer-Official_2/correlation.egg-info
FlowFormer-Official_2/logs
FlowFormer-Official_2/checkpoints*
FlowFormer-Official_2/finetune
FlowFormer-Official_2/no-finetune